################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages/Selenium.WebDriver.3.141.0
/.vs/WebDriverTest1/v16
/WebDriverTest1/bin/Debug
/WebDriverTest1/obj/Debug
